<link rel="stylesheet" href="components/topic/styles.min.css">
<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">
			Thêm mới chủ đề
		</h3>
	</div>
	<div class="box-body">
		<div ng-repeat="errMsg in sc.errors">
			<div class="alert alert-warning alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
					aria-hidden="true">×</span></button>
				{{errMsg}}
			</div>
		</div>
		<form>
			<div class="form-group">
				<label>Tên chủ đề</label>
				<input type="text" ng-model="sc.newRecord.name" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Chuyên khoa liên quan</label>
				<ui-select ng-model="sc.specialization">
					<ui-select-match placeholder="Chọn chuyên khoa" required>
						<span>{{sc.specialization.name}}</span>
					</ui-select-match>
					<ui-select-choices repeat="item in (sc.listSpec | filter: $select.search) track by item.id">
						<span>{{item.name}}</span>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="form-group">
				<label>Mô tả</label>
				<textarea class="form-control" ng-model="sc.newRecord.description"></textarea>
			</div>
			<div class="form-group">
				<button ng-click="sc.addRecord()" class="btn btn-primary">Thêm mới</button>
			</div>
		</form>
	</div>
	<div class="box-header">
		<h3 class="box-title">Danh sách topic</h3>
	</div>
	<div class="box-body">
		<table class="table table-bordered table-hover table-striped">
			<tr class="bg-aqua-active">
				<th>ID</th>
				<th>Name</th>
				<th>Chuyên khoa</th>
				<th>Mô tả</th>
				<th>Thao tác</th>
			</tr>
			<tr ng-repeat="record in sc.listRecord">
				<td>{{record.id}}</td>
				<td>{{record.name}}</td>
				<td>{{record.specialization.name}}</td>
				<td>{{record.description | limitTo:50}}</td>
				<td>
					<button class="btn btn-primary" ng-click="sc.showEditModal(record)">
						<i class="fa fa-edit"></i> Sửa
					</button>
					<button class="btn btn-default" ng-click="sc.deleteRecord(record)">
						<i class="fa fa-trash"></i> Xóa
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>
<div id="editRecordModal" class="modal fade">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Chỉnh sửa thông tin</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label>Tên</label>
						<input type="text" ng-model="sc.editRecord.name" class="form-control" />
					</div>
					<div class="form-group">
						<label>Mô tả</label>
						<textarea class="form-control" ng-model="sc.editRecord.description" cols="30"
						          rows="10"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="sc.saveEditRecord()">Save changes</button>
			</div>
		</div>
	</div>
</div>
