<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="https://scontent.xx.fbcdn.net/v/t1.0-9/p720x720/13442175_10205013765702691_1300601996227824658_n.jpg?oh=1ab2598325cb62651fbd3df59d7fd154&oe=58295F83" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>{{com.email}}</p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- search form -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
			</div>
		</form>
		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li class="header">MAIN NAVIGATION</li>
			<li class="active">
				<a ui-sref="dashboard">
					<i class="fa fa-dashboard"></i> <span>Dashboard</span>
				</a>
			</li>
			<li class="treeview" ng-repeat="menu in com.menu">
				<a>
					<i class="fa fa-folder-o"></i>
					<span>{{menu.name}}</span>
					<span class="pull-right-container">
		              <i class="fa fa-angle-left pull-right"></i>
		            </span>
				</a>
				<ul class="treeview-menu">
					<li ng-repeat="child in menu.child">
						<a ui-sref={{child.route}}>
							<i class="fa fa-circle-o"></i> {{child.name}}
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
